<%-include("partials/header")%>
<link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@700&display=swap" rel="stylesheet">

    <div class="container">
			<div class="row">
				<div class="col top">
					<h4>Hey ya'll</h4>
				</div>
			</div>
			<div class="row">
				<div class="col mid">
					<p class="landing-main-text">TWITTER</p><h5>Clone</h5>
				</div>
			</div>

			<div class="row landing-btn">
				<div class="col">
					<a href="/home" class="btn btn-info">Lets Go</a>
				</div>
			</div>
			
			<div class="landing-footer">
				<p class="landing-author-text">By: Prabhat Kadam</p>
			</div>
    </div>

<%-include("partials/footer")%>